Debug
Debug/*
Debug\*
Release
Release/*
Release\*
symbols
Symbols
paths.bat
Current*.vssettings
Visual Studio 2005/Settings
*.log
*.cod
*.output

# Compiled Object files
.depend
*.dylib
*.dll
*.slo
*.lo
*.o
*.so
*.so.[0-9.]*
*.os
*.a
*.pyc
bin64
*.d
.*.d
*.swp
*.obj
*.dbg
*.class
*.[0-9.*]*
*.CF3
*.IA[B-D]
*.IM[B-D]
*.PFI
*.P[O-S]
*.SearchResults
*.WK3
core.*
*.000
*.ncb
RSP*.rsp
CurrentSettings-*.vssettings
Untitled*.txt

# Precompiled Headers
*.gch
*.pch
*.pdb
*.manifest
*.res
*.htm
*.idb
*.dep
*.sbr
*.bsc
*.exp
*.log
*.tlog
unsuccessfulbuild
#.lastbuildstate

# Ctags file
*.tags

# Fortran module files
*.mod

#vscode
ipch/*
*.ipch

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.bin
*.user
*.ncb
*.suo
*.tmp
/*/bin64/
/*/bin/

# eclipse
*.location
*.log
*.lock
*.markers
*.sc
*.pdom
*.prefs
build.opt
*.core/spec.c*
*.core/specs.c*
properties.index
properties.version
dialog_settings.xml
history.version
*History.xml
version.ini
workbench.xml
workingsets.xml
language.settings.xml
org.eclipse*.resources
sources.mk
subdir.mk
variables*tainers.dat
core.*
out/*
